body {
    background-color: #00000C;
    color: white;
    overflow-x: hidden;
    font-family: "Space Mono", monospace;
}

.navbar {
    background-color: #000000;
    box-shadow: 0px 0px 22px 10px rgba($color: #fff, $alpha: 0.1);
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);

    .navbar-brand {
        color: white;
        font-size: 1.75rem;
    }

    .btn-link {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.modal-content {
    background-color: #11111C;

    .carousel {
        margin: 0.5rem -1rem;
        height: 30vh;

        .carousel-inner {
            height: 100%;

            .carousel-item {
                height: 100%;
                background-color: rgba($color: #555, $alpha: 0.1);

                img{
                    height: 100%;
                    width: auto;
                    margin: auto;
                }
            }
        }
    }
}

.modal-dialog {
    .modal.fade & {
      transform: scale(.8);
    }
    .modal.show & {
      transform: scale(1);
    }
  }


/* width */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba($color: #fff, $alpha: 0.1);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#mouse-blob {
    background: linear-gradient(to right, aquamarine, darkorchid);
    height: 200px;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    animation: rotate 20s infinite;
    z-index: 3;
    filter: blur(200px);
    pointer-events: none;
}

@media (hover: none) {
    #mouse-blob {
        display: none;
    }
}

@keyframes rotate {
    from { rotate: 0deg; }
    50% { scale: 1 1.15; }
    to { rotate: 360deg;}
}

.personal-content {
    section {
        height: 80vh;

        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        &:nth-child(odd) {
            justify-content: start;
        }

        &:nth-child(even) {
            justify-content: end;
        }

        &:last-child {
            margin-bottom: 10vh;
        }
    }

    #title-container {
        margin: auto 15vmin 0 15vmin;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;

        h1 {
            font-size: calc(3.5rem + 1vmin);
        }

        small {
            font-size: calc(1.25rem + 1vmin);
        }
    }

    .personal-card {
        min-height: 40vh;
        max-height: 70vh;
        min-width: 40vw;
        max-width: 50vw;
        background-color: black;
        padding: 2rem;
        margin: 5vw;
        border-radius: 0.25rem;
        overflow: auto;
        z-index: 2;

        h3 {
            font-size: calc(1.3rem + 1vmin);
        }

        p {
            font-size: calc(1rem + 0.25vmin);
        }
    }

    .personal-background {
        position: fixed;
        min-height: 100vh;
        min-width: 100vw;
        opacity: 0;
        transition: opacity 0.2s;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

.projects-content {

    section {
        &.platform-section{
            margin: 10vh 0 -2rem 0;
            padding: 0 5vw;
        }

        &.project-section {
            margin: 5vh 0;

            h3 {
                font-size: calc(1.3rem + 1vmin);
            }
        }
    }

    .btn-platform-container {
        margin: 0.5rem 2vw;

        .btn-platform {
            width: 6rem;
            height: 6rem;
            background-color: rgba($color: white, $alpha: 0.05);
            border: 0.4rem solid rgba($color: white, $alpha: 0.01);
            border-radius: 50%;
            transition: transform 0.2s, box-shadow 0.2s;

            &:focus {
               transform: scale(1.2);
            }

            &.selected {
                box-shadow: 0px 0px 8px 4px rgba($color: white, $alpha: 0.3);
                border: 2px solid rgba($color: white, $alpha: 1);
            }
        }

        &:hover .btn-platform {
           transform: scale(1.2);
        }

        &:active .btn-platform {
            transform: scale(0.8);
        }
    }

    .platform-filter-text {
        margin-top: 1rem;
        margin-right: 2vw;
    }

    .project-container {
        width: 100%;
        height: auto;
        padding: 1rem;
        background-color:  rgba($color: darkorchid, $alpha: 0.04);
        box-shadow: 0px 0px 40px 40px rgba($color: darkorchid, $alpha: 0.04);
        overflow: auto;

        display: flex;
        flex-direction: row;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        .list-image {
            margin: 1rem 2rem;
            padding: 0;
            width: 18rem;
            background: transparent;
            color: white;

            .card-img-top {
                width: 100%;
                height: 12rem;
                object-fit: cover;
                transition: transform 0.2s;
            }

            &:hover, &:focus {
                outline: none;

                .card-title{
                    text-decoration: underline;
                }

                .card-img-top {
                    transform: scale(1.1);
                }
            }

            &:active .card-img-top {
                transform: scale(0.9);
            }
        }
    }

    .project-live-view-list {
        margin: auto 1rem;
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
        background-color:  rgba($color: darkorchid, $alpha: 0.04);
        box-shadow: 0px 0px 40px 40px rgba($color: darkorchid, $alpha: 0.04);

        .project-list-link {
            font-size: calc(1rem + 0.25vmin);
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.projects-content.no-project-display {
    section.platform-section {
        margin: 4.5rem 0 0 0;
        padding: 10vmin 5vw;
        height: calc(100vh - 4.5rem);
    }

    .btn-platform-container {
        margin: 0.5rem 3.5vw;

        .btn-platform {
            width:  calc(6rem + 2.5vmin);
            height: calc(6rem + 2.5vmin);
        }

        small {
            font-size: calc(1rem + 0.25vmin);
        }
    }
}

.switch-view-btn {
    position: fixed;
    top : auto;
    left : auto;
    bottom: 0;
    right: 0;
    margin: 2rem;
    transition: transform 0.2s;

    &:hover, &:focus {
        transform: scale(1.2);
    }

    &:active {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 1200px) {
    .projects-content {
        .btn-platform-container {
            margin: 0.5rem 1vw;
        }
    }

    .projects-content.no-project-display {
        .btn-platform-container {
            margin: 0.5rem 3vw;
        }
    }
}

@media screen and (max-width: 800px) {
    .projects-content {
        .project-live-view-list {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
        }
    }

    .projects-content.no-project-display {
        .btn-platform-container {
            margin: 0.5rem 2.5vw;
        }
    }

	.personal-content {
        .personal-card {
            max-width: 100vw;
            margin: 2.5vw;
        }
    }
}

@media screen and (max-width: 600px) {
    .projects-content {
        .btn-platform-container {
            margin: 0.5rem 0.25rem;
        }

        .project-live-view-list {
            columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1;
        }
    }

    .projects-content.no-project-display {
        .btn-platform-container {
            margin: 0.5rem 2vw;
        }
    }

    .personal-content {
        #title-container {
            margin: 0rem 3rem;

            h1 {
                font-size: calc(2.5rem + 0.5vmin);
            }

            small {
                font-size: calc(0.75rem + 0.5vmin);
            }
        }
    }
}
